<div class= "chat-top">
  <div class="chat-overview">hogefuga
  </div>
  <div class="end-button"> 
      <a href="###">チャットを終了する</a>
  </div>
</div>

<div class= "chat-middle">
  <ul class="messages">
    <li>
      <ul class="user-dete">
        <li class="message-user">Tom
        </li>
        <li class="messsage-date">2020/3/31(wed) 12:43:30
        </li>
      </ul>
    <li>
    <li class="message">おはよう
    </li>
  </ul>
  <ul class="messages">
    <li>
      <ul class="user-dete">
        <li class="message-user">Tom
        </li>
        <li class="messsage-date">2020/3/31(wed) 12:47:30
        </li>
      </ul>
    <li>
    <li class="message">こんばんわ
    </li>
  </ul>
</div>

<%= form_with model: [@room, @message], class: 'message-form', local: true do |f| %>
  <div class="message-image">
    <%= f.text_field :content, class: 'type-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'send' %>
<% end %>









