<div class="side-top">
  <div class="user-name">
    <a href="###">Tom</a>
  </div>
  <div class="new-chatroom">
    <a href="###">チャットを作成する</a>
  </div>
</div>

<div class="side-bottom">
  <div class="room-name">
    <div class="room-link">
      <a href="###">techroom1</a>
    </div>
  </div>
  <div class="room-name">
    <div class="room-link">
      <a href="###">techroom2</a>
    </div>
  </div>
</div>
